<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<style type="text/css">
.jumbotron{
margin-top: 20px;
background-image: url(https://c4.wallpaperflare.com/wallpaper/607/837/255/mars-planet-hd-wallpapers-cool-desktop-background-pictures-wallpaper-preview.jpg);
background-size: contain;
color: white
}
</style>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Information -->
    {% if listings %}
    <div class="row" id="mars_info">
      <div class="col-md-12">
        <h4 class="heading">{{mars_info.title}} {{mars_info.paragraph}}</h4>
      </div>
    </div>
    {% endif %}
</div>


</body>

</html>